@model OOP_VGCProject.Models.Course  
  
@{  
    ViewBag.Title = "Course details";  
}  
  
<h2>Course details</h2>  
  
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>