@model IEnumerable<OOP_VGCProject.Models.Grades>

@{
    ViewData["Title"] = "Index";
}

<style>
    .Discipline {
        background: rgb(0, 191, 255);
    }

    .Grade {
    }
    .Medium {
        background: rgb(216, 191, 216);
    }

    .Medium_Discipline td:not(td:first-child) {
        background: rgb(135, 206, 250);
    }

</style>
<h1>Grades Book</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discipline)
            </th>
            <th>
                control
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
        </tr>
    </thead>
    <tbody>

        @{ var Current_Discipline = "";
            decimal Grade_Discipline = 0;
            decimal coef_Discipline = 0;
            decimal medium_Grade = 0;
            decimal nb_Discipline = 0;
            decimal Medium = 0;
            foreach (var item in Model)
            {
                if (Current_Discipline != item.Discipline && Current_Discipline != "")
                {
                    if (coef_Discipline != 0) { Medium = Grade_Discipline / coef_Discipline; }
                    else { Medium = 0; }
                    <tr class="Medium_Discipline">
                        <td>
                            <!-- disipline -->
                        </td>
                        <td>
                            Medium
                        </td>
                        <td>
                            <!-- coef -->
                        </td>
                        <td>
                            @Medium.ToString("#.##")
                        </td>
                    </tr>
                    Grade_Discipline = 0;
                    coef_Discipline = 0;
                    medium_Grade += Medium;
                    nb_Discipline += 1;
                }
                if (Current_Discipline != item.Discipline)
                {
                    Current_Discipline = item.Discipline;
                    <tr class="Discipline">
                        <td>
                            @Html.DisplayFor(modelItem => item.Discipline)
                        </td>
                        <td>
                            <!-- control_name -->
                        </td>
                        <td>
                            <!-- coefficient -->
                        </td>
                        <td>
                            <!-- grade -->
                        </td>
                    </tr>

                }
                <tr class="Grade">
                    <td>
                        <!-- disipline -->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.control_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.coefficient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grade)
                    </td>
                </tr>
                Grade_Discipline += item.grade * item.coefficient;
                coef_Discipline += item.coefficient;
            }
            if (coef_Discipline != 0)
            {
                if (coef_Discipline != 0) { Medium = Grade_Discipline / coef_Discipline; }
                else { Medium = 0; }
                <tr class="Medium_Discipline">
                    <td>
                        <!-- disipline -->
                    </td>
                    <td>
                        Medium
                    </td>
                    <td>
                        <!-- coef -->
                    </td>
                    <td>
                        @Medium.ToString("#.##")
                    </td>
                </tr>
                Grade_Discipline = 0;
                coef_Discipline = 0;
                medium_Grade += Medium;
                nb_Discipline += 1;
            }
            if (nb_Discipline != 0) { Medium = medium_Grade / nb_Discipline; }
            else { Medium = 0; }
            <tr class="Medium">
                <td>
                    Medium
                </td>
                <td>
                    <!-- disipline -->

                </td>
                <td>
                    <!-- disipline -->
                </td>
                <td>
                    @Medium.ToString("#.##")
                </td>
            </tr>
        }
    </tbody>
</table>
