@model IEnumerable<OOP_VGCProject.Models.Grades>

@{
    ViewData["Title"] = "Index";
}

<h1>Grades Book</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disipline)
            </td>
        <tr>
            <td>
                <!-- disipline -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.control_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
        </tr>

        </tr>
}
    </tbody>
</table>
